

:root {
	 --cnvs-themecolor: #338a61;
	 --cnvs-themecolor-rgb: 51, 138, 97;

     --cnvs-heading-color: #338a61;

     --bs-primary: #004bad;
     --bs-primary-rgb: 0, 75, 173;
}


.button:hover {
    background-color: #5da483ff;
}

/* .bg-primary {
    --bs-bg-opacity: 0.5;
    background-color: rgba(var(--cnvs-themecolor-rgb), var(--bs-bg-opacity)) !important;
} */

.card-body .img-container {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100px;           /* or any fixed height */
}
.card-body .img-container img {
  max-width: 100%; /* optional */
  height: auto;
}

/* test comment */
