

:root {
	 --cnvs-themecolor: #338a61;
	 --cnvs-themecolor-rgb: 51, 138, 97;
     --cnvs-secondarycolor: #004bad;
     --cnvs-link-color: #0d6efd;
	--cnvs-header-height: 100px;
	--cnvs-header-height-sm: 60px;
	--cnvs-header-height-md: 80px;

     --cnvs-heading-color: #555756;

     --bs-primary: #004bad;
     --bs-primary-rgb: 0, 75, 173;
     --cnvs-primary-menu-padding-x: 12px;
}

a {
    font-weight: bold;
}

.menu-link {
    padding: var(--cnvs-primary-menu-padding-y) 12px !important;
}

#footer a {
    font-weight: normal;
}

dl, dt, dd, ol, ul, li {
    margin-left: 15px;
}

.button:hover {
    background-color: #5da483ff;
}

/* .bg-primary {
    --bs-bg-opacity: 0.5;
    background-color: rgba(var(--cnvs-themecolor-rgb), var(--bs-bg-opacity)) !important;
} */

.slider-caption h2, .slider-caption .h2 {
    font-size: 3rem;
}

.card-body .img-container {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100px;           /* or any fixed height */
}
.card-body .img-container img {
  max-width: 100%; /* optional */
  height: auto;
}

/* test comment */

.card-body.tombstone {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card-body.tombstone p:last-child {
    margin-top: auto;
}

.shadow-sm, .h-shadow-sm:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5) !important;
}